<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h2 class="text-5xl font-bold my-5">¿Quiénes somos?</h2>
  <p class="text-zinc-300">
    Electrónica Celular, S.A. fue fundada en Guatemala en octubre de 1989 con la filosofía de proveer a nuestros socios comerciales verdaderas soluciones en el campo de las telecomunicaciones, electrónica y seguridad electrónica.
  </p>
</section>