---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Electrónica Celular - Tomaturnos - Medidores de agua">
    <main>
      
    </main>
  </Layout>
  
  <style>
    :global(h1) {
      margin: 2rem 0;
    }
  
    main {
      max-width: 1440px;
      margin: auto;
    }
  </style>